@charset "utf-8";
/* CSS Document */

/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, a, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

body{
    background-color: black;	
    background-image:url(../img/background.jpg);
    background-position:center;
    /*font-family: "helvetica neue",arial,sans-serif;*/
    font: 16px arial,sans-serif;
}

/*****BOTONES******/

/*Gis*/
.button2{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border-radius : 2px 2px 2px 2px ;
    opacity: .9;
    text-decoration: none;
    text-transform: capitalize;
    color: #666;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 12px;
    background: #f1f1f1;
    background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
    width: 47px;
    margin: 10px;
    float: right;
}

.button2:hover {
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    border-color: #939393;
    color: #333;
}


.button2:active {
    border-color: #444444;
    background: #f5f5f5;
    background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f1f1f1), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #f1f1f1, #f5f5f5); 
    background-image: -moz-linear-gradient(top, #f1f1f1, #f5f5f5); 
    background-image: -ms-linear-gradient(top, #f1f1f1, #f5f5f5); 
    background-image: -o-linear-gradient(top, #f1f1f1, #f5f5f5); 
    background-image: linear-gradient(top, #f1f1f1, #f5f5f5);
}

/*Azules*/

.button2.blue {
    color: #fff;
    border-color: #2f5bb7;
    background: #4787ed;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
    background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed); 
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed); 
    background-image: -ms-linear-gradient(top, #4d90fe, #4787ed); 
    background-image: -o-linear-gradient(top, #4d90fe, #4787ed); 
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.button2.blue:hover {
    border-color: #2f5bb7;
    background: #357ae8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(top, #4d90fe, #2B70D6); 
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8); 
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8); 
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8); 
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
}
.button2.blue:active {
    background: #4d90fe;
}
/*Rojo*/

.button2.green{
    background-color: #56C158;
    background-image: -webkit-linear-gradient(top,#56C158,#38B23B);
    background-image: -moz-linear-gradient(top,#56C158,#38B23B);
    background-image: -ms-linear-gradient(top,#56C158,#38B23B);
    background-image: -o-linear-gradient(top,#56C158,#38B23B);
    background-image: linear-gradient(top,#56C158,#48B74B);
    border: 1px solid #29691D;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);

}

.button2.green:hover{
    border-color: #438929;
    border-bottom: 1px solid #407C27;
    background: #44AA49;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#48B74B), to(#438929));
    background-image: -webkit-linear-gradient(top, #48B74B, #438929); 
    background-image: -moz-linear-gradient(top, #48B74B, #438929); 
    background-image: -ms-linear-gradient(top, #48B74B, #438929); 
    background-image: -o-linear-gradient(top, #44AA49, #438929); 
    background-image: linear-gradient(top, #44AA49, #438929);
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
    border-radius: 2px;

}
.button2.green:active {
    background: #56C158;
}
.button2.red {
    color: #fff;
    border: 1px solid transparent;
    background: #d14836;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#d14836));
    background-image: -webkit-linear-gradient(top, #dd4b39, #d14836); 
    background-image: -moz-linear-gradient(top, #dd4b39, #d14836); 
    background-image: -ms-linear-gradient(top, #dd4b39, #d14836); 
    background-image: -o-linear-gradient(top, #dd4b39, #d14836); 
    background-image: linear-gradient(top, #dd4b39, #d14836);
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.button2.red:hover {
    border-color: #B0281A;
    border-bottom: 1px solid #af301f;
    background: #c53727;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4b39), to(#c53727));
    background-image: -webkit-linear-gradient(top, #dd4b39, #c53727); 
    background-image: -moz-linear-gradient(top, #dd4b39, #c53727); 
    background-image: -ms-linear-gradient(top, #dd4b39, #c53727); 
    background-image: -o-linear-gradient(top, #dd4b39, #c53727); 
    background-image: linear-gradient(top, #dd4b39, #c53727);
}
.button2.red:active {
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.button2.yelow {
    border: 1px solid #F4BD31;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 2px 2px;
    opacity: .9;
    text-decoration: none;
    text-transform: capitalize;
    color: #4D4545;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0 3px;
    padding: 7px;
    background: #F2E940;
    background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F4BD31), to(#F2E940));
    background-image: -webkit-linear-gradient(top, #F2E940, #F4BD31);
    background-image: -moz-linear-gradient(top, #F2E940, #F4BD31);
    background-image: -ms-linear-gradient(top, #F2E940, #F4BD31);
    background-image: -o-linear-gradient(top, #F2E940, #F4BD31);
    background-image: linear-gradient(top, #F2E940, #F4BD31);
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
    ;
}
.buttonDual{
    border: 1px solid rgba(0, 0, 0, 0.1);
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    border-radius : 2px 2px 2px 2px ;
    opacity: .9;
    text-decoration: none;
    text-transform: capitalize;
    color: #666;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0 3px;
    padding: 7px;
    background: #f1f1f1;
    background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f5f5f5), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1); 
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
}

.buttonDual:hover {
    color: #fff; 
    border-color: #2f5bb7;
    background: #357ae8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
    background-image: -webkit-linear-gradient(top, #4d90fe, #2B70D6); 
    background-image: -moz-linear-gradient(top, #4d90fe, #357ae8); 
    background-image: -ms-linear-gradient(top, #4d90fe, #357ae8); 
    background-image: -o-linear-gradient(top, #4d90fe, #357ae8); 
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;

}

.buttonDual.yelow:hover {
    border: 1px solid #F4BD31;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 2px 2px;
    opacity: .9;
    text-decoration: none;
    text-transform: capitalize;
    color: #4D4545;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0 3px;
    padding: 7px;
    background: #F2E940;
    background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F4BD31), to(#F2E940));
    background-image: -webkit-linear-gradient(top, #F2E940, #F4BD31);
    background-image: -moz-linear-gradient(top, #F2E940, #F4BD31);
    background-image: -ms-linear-gradient(top, #F2E940, #F4BD31);
    background-image: -o-linear-gradient(top, #F2E940, #F4BD31);
    background-image: linear-gradient(top, #F2E940, #F4BD31);
    -moz-transition: border-color .218s;
    -o-transition: border-color .218s;
    -webkit-transition: border-color .218s;
    -ms-transition: border-color .218s;
    transition: border-color .218s;
    ;
}

/*****BOTONES******/





.main{


    width: 800px;

    margin: 0px auto;
}

.main .top{


    height: 400px;
    margin: 0px auto;
}

.main .top .north{
    height: 100px;	
}

.main .top .north .logo{
    background-image:url(../img/logo.png);
    background-position:center; 
    width: 183px;
    height: 125px;
    position:absolute;
    z-index:2;
    margin-top: 32px;
    margin-left: 20px;
}

.main .top .links{
    color: white;
    float: right;
    margin-top: 60px;
    margin-right: 44px;
}

.main .top .links ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main .top .links ul li {
    display: inline;
    float: left;
    height: 30px;
    line-height: 30px; 
    vertical-align:middle;
}


.main .top .links ul li a
{
    text-decoration: none;
    padding: .2em 1em;
    color: white;
}

.main .top .links ul li a:hover{
    color: #2853A3;
    cursor: pointer

}
.main .top .buttons{
    margin-left:auto;
    margin-right:auto;
    width:100px;
    height: 400px;
}

.main .top .buttons ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main .top .buttons ul li {
    display: inline;
    float: left;
    height: 30px;
    line-height: 30px; 
    vertical-align:middle;
    margin-left: 5px;
}


.main .top .buttons ul li a
{
    text-decoration: none;
    color: white;
}

.main .top .images{
    background-image:url(../img/banner.jpg);
    background-position:center; 
    width: 700px;
    height: 230px;
    margin: 0px auto;
    z-index: 1;
    position: relative;
}

/*.main .top .images-shadow{
        background-image:url(../img/banner-shadow.png);
        background-position:center;
        background-attachment:fixed;
        background-repeat:no-repeat;
        width: 700px;
        height: 20px;
    margin: 0px auto;
        background-position: 0px 0px;
}

*/

.main .top .images-shadow { 
    width: 740px;
    overflow: hidden;
    margin: 0px auto;
    z-index: 0;
    position: relative;
    margin-top: -39px; 
}
.main .top .images-shadow img { 
    width: 738px;
    margin: 0px auto; 
}


.main .toolbar{
    border-top-style:solid;
    border-top-color: white;
    border-top-width: 2px;
    border-bottom-style:solid;
    border-bottom-color: white;
    border-bottom-width: 2px;
    width: 700px;
    height: 200px;
    margin: 0px 50px 50px auto;
    font-size: 19px;
    text-align: center;
    padding: 0px 0px 32px 0px;

}

.main .toolbar .recibo{
    width: 33%;
    height: 100%;
    float:left;
    position:relative;
}

.main .toolbar .recibo .container{
    width: 120px;	
    margin:0 auto;
}

.main .toolbar .recibo .container:hover .img{
    background-image:url(../img/sprite1.png);
    background-position: 0px -138px;
    width: 120px;
    height: 100px;
    margin:0 auto;
    margin-top:37px; 
    cursor:pointer;
}

.main .toolbar .recibo .img{
    background-image:url(../img/sprite1.png);
    background-position: 0px -7px;
    height: 100px;
    margin-top:37px; 
}

.main .toolbar .recibo .label{
    color:white;
    margin:0 auto;
    width: 120px;
    margin-top:10px; 
}

.main .toolbar .liquidacion{
    width: 33%;
    height: 100%;
    float:left;
}

.main .toolbar .liquidacion .container{
    width: 120px;	
    margin:0 auto;
}

.main .toolbar .liquidacion .container:hover .img{
    background-image:url(../img/sprite1.png);
    background-position: -204px -138px;
    width: 120px;
    height: 100px;
    margin:0 auto;
    margin-top:37px; 
    cursor:pointer;
}

.main .toolbar .liquidacion .img{
    background-image:url(../img/sprite1.png);
    background-position: -204px -7px;
    height: 100px;
    margin-top:37px; 
}

.main .toolbar .liquidacion .label{
    color:white;
    margin:0 auto;
    width: 100px;
    margin-top:10px; 
}

.main .toolbar .escritos{
    width: 33%;
    height: 100%;
    float:left;
}

.main .toolbar .escritos .container{
    width: 120px;	
    margin:0 auto;
}

.main .toolbar .escritos .container:hover .img{
    background-image:url(../img/sprite1.png);
    background-position: 123px -138px;
    width: 120px;
    height: 100px;
    margin:0 auto;
    margin-top:37px; 
    cursor:pointer;
}

.main .toolbar .escritos .img{
    background-image:url(../img/sprite1.png);
    background-position: 123px -7px;
    height: 100px;
    margin-top:37px; 
}

.main .toolbar .escritos .label{
    color:white;
    margin:0 auto;
    width: 60px;
    margin-top:10px; 
}

.main .news{
    /*padding-top: 50px;*/
    width: 700px;
    position: relative;
    margin: 0px auto;
    background-image:url(../img/backNews.png);
}

.main .news .border-top{
    height: 20px;
    margin: 0px auto;
    width:700px;
}

.main .news .border-bottom{
    height: 20px;
    margin: 0px auto;
    width:700px;
}

.main .news .content{
    height: 400px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(125,125,125,80.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(125,125,125,80.8); 
}

.main .news .content .arriba{
    margin-top: 5px;

}

.main .news .content .arriba .logo{
    width: 20px;
    height: 24px;
    background: url(../img/sprite2.png);
    background-position: 20px -11px;
    float: left;
    margin-left: 20px;
}

.main .news .content .arriba .title{
    float: left;
    color: white;
    margin-left: 40px;
}

.main .news .content .bottom{
    margin-top: 40px;
    margin-left: 50px;
    position: absolute;

}

.main .news .content .bottom .noticia{
    margin-bottom: 10px;
}

.main .news .content .bottom .noticia .fecha{
    color:white;
}

.main .news .content .bottom .noticia .title{
    color:blue;
}

.main .news .content .bottom .noticia .description{
    color:white;
}

.main .footer{
    padding-top: 100px;
    color: white;
    height: 200px;
    margin: 0px auto;
    width: 700px;
    position: relative;
    margin: 0px auto;
}

.main .footer .msj{
    width: 436px;
    margin: 0px auto;
}

.twitter{
    width: 30px;
    height: 30px;
    background: url(../img/sprite2.png);
    background-position: 138px -2px;
}

.twitter:hover{
    width: 30px;
    height: 30px;
    background: url(../img/sprite2.png);
    background-position: 138px -37px;
    cursor: pointer;
}

.facebook{
    width: 30px;
    height: 30px;
    background: url(../img/sprite2.png);
    background-position: 102px -2px;
}

.facebook:hover{
    width: 30px;
    height: 30px;
    background: url(../img/sprite2.png);
    background-position: 102px -37px;
    cursor: pointer;
}

.button{
    text-decoration: none;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/sprite2.png);
    background-position: 53px -15px;
}

.middle-recibo{
    width: 700px;
    margin: 0px auto;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
}

.middle-recibo .title{
    margin-top: 30px;
    height: 50px;
}


.middle-recibo .title .text{
    color:white;
    float: left;
    margin-left: 14px;
    padding-top: 5px;
}

.middle-recibo .title .icon{
    float: left;
    width: 40px;
    height: 40px;
    background: url(../img/sprite2.png);
    background-position: 188px -2px;
}

.middle-recibo .steps{
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
}

.middle-recibo .steps .step1{
    /*    width: 300px;*/
    position: relative;
    float: left;
    margin: 0 10px 20px 10px;
}

.middle-recibo .steps .step1 .step-title{
    color:white;
    margin-bottom: 10px;
}

.middle-recibo .steps .step1 .step-content{
    width: 300px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 25px 15px 25px 15px;
    margin: 5px 5px 5px 10px;
    display:table-cell; 
    vertical-align:middle;
    background: url(../img/background.png);
    background-color: #EBEBEB;
    background-repeat: repeat;
}

.middle-recibo .steps .step1 .step-content .label{
    width: 130px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #221919;
    margin-top: 4px;
}

.middle-recibo .steps .step1 .step-content .elements{
    width: 130px;
    float: right;
}


.middle-recibo .steps .step1 .step-content select{
    /*    width: 100px;*/
    float: right;
    border: 1px solid #CCC;
    -moz-box-shadow: inset 0 1px 2px #eee;
    -ms-box-shadow: inset 0 1px 2px #eee;
    -webkit-box-shadow: inset 0 1px 2px #EEE;
    box-shadow: inset 0 1px 2px #EEE;


}

.middle-recibo .steps .step2{
    /*    width: 600px;*/
    position: relative;
    float: left;
    margin: 0 10px 20px 10px;
}

.middle-recibo .steps .step2 .step-title{
    color:white;
    margin-bottom: 10px;
}

.middle-recibo .steps .step2 .step-content{
    width: 700px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 25px 15px 25px 15px;
    margin: 5px 5px 5px 10px;
    display:table-cell; 
    vertical-align:middle;
    background: url(../img/background.png);
    background-color: #EBEBEB;
    background-repeat: repeat;
}


.middle-recibo .steps .step2 .step-content .label{
    width: 130px;
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #221919;

}

.middle-recibo .steps .step2 .step-content .elements{
    width: 500px;
    float: left;
}

.middle-recibo .steps .step2 .step-content .elements2{
    float: left;
}

.middle-recibo .steps .step2 .step-content .elements .col1{
    float: left;
}

.middle-recibo .steps .step2 .step-content .elements .col2{
    float: right;
}

.middle-recibo .steps .step2 .step-content .elements2 .col3{
    width: 215px;
    float: left;
}

.middle-recibo .steps .step2 .step-content .elements2 .col3 .col-title{  
    width: 80px;
    float:left;
    font-size: 13px;
    font-weight: bold;
    color: #221919;
    margin-top: 5px;
}

.middle-recibo .steps .step2 .step-content .elements2 .col3 .col-element{    
    float:left;
}

.middle-recibo .steps .step2 .step-content .elements .day{
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
    width: 250px;
}

.middle-recibo .steps .step2 .step-content .elements .day .check{
    width: 80px;
    float: left;
    font-size: 13px;
}

.middle-recibo .steps .step2 .step-content .elements .day .select{
    float: left;
}

.middle-recibo .result{
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*    width: 700px;*/
    padding: 25px 15px 25px 15px;
    margin: 5px 5px 5px 10px;
    background: url(../img/background.png);
    background-color: #EBEBEB;
    background-repeat: repeat;

}

.middle-recibo .result table{
    box-shadow: inset 0 1px white,0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: inset 0 1px white,0 1px 3px rgba(34, 25, 25, 0.4);
    border-radius: 4px;
    padding: 8px;
    background-color: white;


}


.middle-recibo .result table .top-table{
    background: url(../img/background.png);
    background-color: #EBEBEB;
    background-repeat: repeat;
}


.middle-recibo .result table .top-table .top-table-item{
    padding: 5px;
    font-size: 14px;
    font-size: 14px;
    font-weight: bold;
    color: #221919;


}

.middle-recibo .result table .top-table .middle-table{
    background: url(../img/background.png);
    background-color: #EBEBEB;
    background-repeat: repeat;
}


.tr1{
    background-color: #CCC;  
}

.tr2{
    background-color: #ddd;  
}

.td{
    border: 1px solid #ddd;
}


.middle-liquidacion{
    width: 700px;
    margin: 0px auto;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
}

.middle-liquidacion .title{
    margin-top: 30px;
    height: 50px;
}


.middle-liquidacion .title .text{
    color:white;
    float: left;
    margin-left: 40px;
    padding-top: 5px;
}

.middle-liquidacion .title .icon{
    float: left;
    width: 40px;
    height: 40px;
    background: url(../img/sprite2.png);
    background-position: 235px 2px;
}

.middle-liquidacion .middle-content{
    font-size: 14px;
    width: 700px;
    margin: 0px auto;
    background-color: white;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

.middle-liquidacion .middle-content .col-datos{
    float: left;
    width: 350px;
}

.middle-liquidacion .middle-content .col-datos .header{
    color: blue;
    margin: 15px 0px 15px 15px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

.middle-liquidacion .middle-content .col-datos .dato{
    margin: 15px 15px 15px 15px;
    overflow: hidden;
    position: relative;
}

.middle-liquidacion .middle-content .col-datos .dato .label{
    float: left;
}

.middle-liquidacion .middle-content .col-datos .dato .element{
    float: right;
}

.middle-liquidacion .middle-content .col-datos .dato2{
    margin: 15px 15px 15px 15px;
    overflow: hidden;
    position: relative;
}

.middle-liquidacion .middle-content .col-datos .dato2 .label{
    color: blue;
    margin-bottom: 15px;
}

.middle-liquidacion .middle-content .col-datos .dato2 .element{
    float: left;
    margin-left: 15px;
}

.middle-liquidacion .middle-content .col-datos .dato2 .element .day{
    position: relative;
    padding: 0 0 1em 0;
    overflow: hidden;
    width: 250px;
}

.middle-liquidacion .middle-content .col-datos .dato2 .element .day .check{
    width: 80px;
    float: left;
}

.middle-liquidacion .middle-content .col-datos .dato2 .element .day .select{
    float: left;
}

.middle-liquidacion .middle-content .col-resultados{
    float: left;
    width: 350px;
}

.middle-liquidacion .middle-content .col-resultados .header{
    color: blue;
    margin: 15px 15px 15px 0px;
    border-bottom-style: solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

.middle-liquidacion .middle-content .col-resultados .seccion{
    color: blue;
    margin-top: 5px;
}

.middle-liquidacion .middle-content .col-resultados .result{
    position: relative;
    overflow: hidden;
    margin: 5px 25px 0px 15px;
}

.middle-liquidacion .middle-content .col-resultados .result .label{
    float: left;
}

.middle-liquidacion .middle-content .col-resultados .result .value{
    float: right;
}

.middle-liquidacion .generar{
    width: 700px;
    margin: 0px auto;
    background-color: white;
    overflow: hidden;
}

.middle-liquidacion .generar .button-generar{
    float:right;
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    margin: 5px 5px 5px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display:table-cell; 
    vertical-align:middle;

}

/*DE ACA PARA ABAJO ES LO DEL BANNER*/




/* line 17, sass/screen.scss */
#page {
    width: 960px;
    margin: 0 auto;
}

/* line 22, sass/screen.scss */
#viewport-shadow {
    /*  position: relative;
      width: 680px;
      padding: 0 140px 70px;
      background: url(img/box-shadow.png) bottom no-repeat;*/
    width: 700px;
    height: 230px;
    margin: 0px auto;
    z-index: 1;
    position: relative;
}



/* line 29, sass/screen.scss */
#viewport, #box, .slide {
    /*    width: 680px;
        height: 260px;*/
    width: 700px;
    height: 230px;
    margin: 0px auto;
    z-index: 1;
    position: relative;
}

#box img{
    width: 700px;
    height: 230px;
    margin: 0px auto;
    z-index: 1;
    position: relative;
}

/* line 34, sass/screen.scss */
#viewport {
    overflow: hidden;
}

/* line 35, sass/screen.scss */
#slider-buttons {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    position: relative;
    margin-top: -26px;
}

/* line 37, sass/screen.scss */
#controls {

}
/* line 44, sass/screen.scss */
#controls li {
    display: inline;
}

/* line 48, sass/screen.scss */
.goto-slide {
    margin-left: 10px;
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    border: solid 1px #000;
    background-color: #555;
    border-radius: 8px;
    -webkit-box-shadow: inset 0px 0px 8px #333;
    -moz-box-shadow: inset 0px 0px 8px #333;
    box-shadow: inset 0px 0px 8px #333;
}
/* line 62, sass/screen.scss */
.goto-slide.current {
    background-color: #660033;
}

/* line 66, sass/screen.scss */
#next, #prev {
    position: absolute;
    top: 80px;
    width: 30px;
    height: 300px;
    background: url(img/next-prev-sprite.png) no-repeat;
    display: block;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
}
/* line 78, sass/screen.scss */
#next:hover, #prev:hover {
    background: url(img/next-prev-sprite-hover.png) no-repeat;
    border: none;
}

/* line 85, sass/screen.scss */
#prev {
    left: 90px;
}

/* line 86, sass/screen.scss */
#next, #next:hover {
    left: 840px;
    background-position: -30px 0;
}

/* line 90, sass/screen.scss */
#effect-switcher h2 {
    border-bottom: solid 1px #555;
    margin: 0 0 10px;
}

/* line 97, sass/screen.scss */
#effect-list {
    overflow: hidden;
}
/* line 99, sass/screen.scss */
#effect-list li {
    display: inline;
}

/* line 102, sass/screen.scss */
.effect, .effect:hover {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    border: solid 1px black;
    border-radius: 7px;
    padding: 10px 12px 6px;
    color: #ccc;
    text-decoration: none;
    background-color: #555;
    -webkit-box-shadow: inset 0px 0px 8px #000;
    -moz-box-shadow: inset 0px 0px 8px #333;
    box-shadow: inset 0px 0px 8px #333;
}
/* line 117, sass/screen.scss */
.effect.current, .effect:hover.current {
    color: #2edbac;
}

/* line 123, sass/screen.scss */
#time-indicator {
    width: 0px;
    height: 3px;
    background-color: #2edbac;
    position: absolute;
    top: 460px;
    left: 140px;
}

/* line 132, sass/screen.scss */
#credits {
    margin: 20px 0 40px;
    padding: 10px 0 0;
    color: #555;
    font-size: .9em;
}

.containerNews{
    width: 665px;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 25px 15px 25px 15px;
    margin: 5px 5px 5px 10px;
    background: url(../img/background.png);
    background-color: #EBEBEB;
    background-repeat: repeat;
    margin: 0px auto;
}


.containerNews .contentNews{
    box-shadow: inset 0 1px white,0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: inset 0 1px #fff,0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: inset 0 1px white,0 1px 3px rgba(34, 25, 25, 0.4);
    border-radius: 4px;
    padding: 8px;
    background-color: white;
}


.containerNews .contentNews .contentNewsTitle{
    font-size: 25px;
    font-weight: bold;
    color: #221919;
    margin-bottom: 10px;

}


.containerNews .contentNews .contentNewsDate{
    font-size: 15px;
    font-weight: bold;
    color: #221919;

}



